<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/styles/header.css">
    <link rel="stylesheet" href="../static/styles/general.css">
    <link rel="stylesheet" href="../static/styles/navbar.css">
    <link rel="stylesheet" href="../static/styles/footer.css">
    <link rel="stylesheet" href="../static/styles/toggle-switch.css">
    <title>Upload Images</title>

    <style>
        .container {
            display: grid;
            grid-template-columns: 33% 33% 33%;
            gap: 20px;
            padding: 20px;
        }

        .container > div {
            background-color: #f0f0f0;
            padding: 20px;
            border: 1px solid #ddd;
        }
    </style>
</head>

<body>
    <header>
        <div class="upper-half">
          <div class="home">
            <img src="../static/images/home-icon.png" alt="home-icon">
            <p>Home</p>
          </div>
          <div class="sra">
            <img src="../static/images/sra-icon.png" alt="Screen Reader Tools">
            <p>Screen Reader Tools</p>
          </div>
          <div class="fontSize">
            <img src="../static/images/font-size.png" alt="font-size">
            <p>Font Size</p>
          </div>
          <div class="contrast">
            <input type="checkbox" class="theme-checkbox">
            <p>Contrast</p>
          </div>
          <div class="language">
            <img src="../static/images/lang-icon.png" alt="language">
            <p>EN</p>
          </div>
          <div class="zoom">
            <img src="../static/images/zoom-icon.png" alt="zoom">
            <p>Zoom</p>
          </div>
          <div class="search">
            <input type="text" class="search-bar" placeholder="Search">
            <button class="search-button">
              <img src="../static/images/search-icon.png" alt="search">
            </button>
          </div>
        </div>
        <div class="lower-half">
          <div class="signal-drishti">
            <img src="../static/images/signal-drishti-logo.png" alt="Signal Drishti">
            <p>Signal Drishti</p>
          </div>
          <div class="govt-org">
            <img src="../static/images/satyamev-jayate.png" alt="satyamev-jayate">
            <div class="govt-org-name">
              <p id=g>Government of India</p>
              <p id=m>Minstry of Science & Technology</p>
            </div>
          </div>
          <div class="kuch-logo">
            <img src="../static/images/g20-logo.png" alt="g20-logo">
          </div>
        </div>
      </header>
    
    <!-- <div class="column map" id="map"></div> -->
    <!-- <a href="result.html">click here</a> -->
    <h1 id="upload-text">Upload Images</h1>
    <form action="/upload" method="post" enctype="multipart/form-data" class="upload-files">
        <input type="file" name="file1" class="input-files" required><br><br>
        <input type="file" name="file2" class="input-files" required><br><br>
        <input type="file" name="file3" class="input-files" required><br><br>
        <input type="file" name="file4" class="input-files" required><br><br>
        <input type="submit" value="Upload" class="upload-btn">
    </form>



     
    <!--<div>
        <div class="grid">
            <img class="output" src="../static/output_images/output_images (1).jpeg" alt="stock">
            <img class="output" src="../static/output_images/output_images.jpeg" alt="stock">
            </div>
            <br>
            <div class="grid">
            <img class="output" src="../static/output_images/output_images (2).jpeg" alt="stock">
            <img class="output" src="../static/output_images/output_istockphoto-624460286-612x612.jpg" alt="stock">
        </div>
    </div> -->



   
    


    <div class="container">
        <div class="column">
            <!-- Content for the first column -->
            <div class="column map" id="map"></div>
        </div>
        <div class="column">
            <!-- Content for the second column -->
            <div class="grid">
                <img src="../static/input/istockphoto-1307527527-612x612.jpg" alt="Image 1">
                <img src="../static/input/istockphoto-502914346-612x612.jpg" alt="Image 2">
                <img src="../static/input/traffic-congestion-on-downtown-highway-to-bandra-andheri-and-santacruz-CBR2RF.jpg" alt="Image 3">
                <img src="../static/input/traffic-jam-on-a-busy-road-in-the-suburb-sealdah-JBP12Y.jpg" alt="Image 4">
            </div>
        </div>
        <div class="column">
            <!-- Content for the third column -->
            <h2>Evaluation Parameters</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget urna ac risus dignissim dictum. Integer nec risus ut leo volutpat interdum.</p>
        </div>
    </div>

    <footer>
        <div class="terms">
          <h1>Terms and Policies</h1>
          <p>Privacy Policy</p>
          <p>Hyperlink Policy</p>
          <p>Website Policy</p>
          <p>Content Policies</p>
          <p>Contingency Plan</p>
        </div>
        <div class="about">
          <h1>About</h1>
          <p>About Us</p>
          <p>Sitemap</p>
          <p>Terms of Use</p>
          <p>MoRTH</p>
          <p>CMVR 1989</p>
        </div>
        <div class="resources">
          <h1>Resources</h1>
          <p>Fees and User Chargers</p>
          <p>Act, Rules and Policies</p>
          <p>Permit Fees and Period</p>
          <p>Manual</p>
          <p>Homologation</p>
        </div>
        <div class="help">
          <h1>Help</h1>
          <p>Contact Us</p>
          <p>FAQs</p>
          <p>Raise a ticket</p>
          <p>Calendar</p>
          <p>Web Information Manager</p>
        </div>
        <div class="etc">
          <img src="../static/images/mst-logo.png" alt="ministry of science and technology">
        </div>
      </footer>


    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="../static/script.js"></script>

</body>

</html>
