*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#searchButton{
  background-color:rgb(254, 189, 105) ;
  font-size: medium;
  
}
.upper-half{
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  width: 100%;
  height: 8vh;
  padding: 3vh 18vw;
  background-color: rgb(15, 20, 38);
  color: rgb(254, 189, 105);
  font-weight: 500;
}
.upper-half>*{
  height: 100%;
  flex: none;
  display: flex;
  flex-direction: row;
  column-gap: 4px;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  transition: color 100ms, background-color 100ms;
}
.upper-half>* img{
  height: 20px;
}
.upper-half>*:hover{
  color: white;
}
/*Search bar*/
.search{
  flex: 1;
  margin-left: 100px;
  column-gap: 0;
}
.search-bar{
  font-weight: 550;
  font-size: larger;
  flex: 1;
  min-width: 300px;
  height: 100%;
  padding: 4%;
  border: none;
  border-radius: 5px;
  background-color: white;
  padding-left: 10px;
  font-size: 15px;
  z-index: 50;
}
.search-bar:focus{
  outline: none;
}
.search-button{
  flex: none;
  height: 90%;
  width: 4vw;
  padding: 4%;
  margin-left: 2%;
  border: none;
  border-radius: 5px;
  background-color: rgb(254, 189, 105);
  z-index: 51;
  cursor: pointer;
  font-size: smaller;
}
.search-icon{
  height: 60%;
  
}

/*Lower Half*/
.lower-half{
  width: 100%;
  height: 14vh;
  padding: 10px 50px;
  background-color: rgb(204, 227, 235);
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}
.lower-half>*{
  height: 100%;
  flex: none;
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}
.signal-drishti{
  padding-right: 30px;
  margin-right: 30px;
  border-right: 2px solid rgb(140, 140, 140);
}
.signal-drishti p{
  font-weight: 600;
  font-size: 25px;
  font-family: "Rhodium Libre", serif;
  align-self: center;
}

.govt-org-name{
  padding-left: 10px;
  position: relative;
  top: 5px;
}
.govt-org-name #g{
  font-size: 25px;
  font-weight: 500;
}

.kuch-logo{
  margin-left: 50%;
}
